html, body {
  height: 100%;
  margin: 0;
  font-family: 'Audiowide', cursive;
}
body {
  /* Margin bottom by footer height */
  margin-top: 80px;
  background-image: url(../img/mansion_poster.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color:#0e0c23!important;

}

@media (max-width: 979px) {
  body {
  background-image: url(../img/mansion_poster_mobile.jpg);
    margin-top: 80px;
  }
    h2 {
        font-size:1rem;

    }
}
@media (max-width: 979px){
 .header-content{
    padding-bottom:1vh;
 }
}


.content {
  min-height: 100%;
}

.push {
  height: 1vh;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    h2 {
        font-size:1rem;

    }
}
