html, body {
  height: 100%;
  margin: 0;
  font-family: 'Audiowide', cursive;
}
body {
  /* Margin bottom by footer height */
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
@media (max-width: 979px){
 .header-content{
    padding-bottom:1vh;
 }
}
.content {
  margin-top:20px;
  min-height: 100%;
}

.push {
  height: 1vh;
}
