{% block footer %}<!-- Subscribe -->
<footer class=" container-fluid" id="subscribe">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <ul class="list-inline list-social">
            <li class="social-youtube list-inline-item">
                <a aria-label="youtube link"
                   href="{% editable youtube %} https://www.youtube.com/channel/UCO0YNj-Vj_uVmB5KY5mXxmg/featured {% endeditable %}" rel="noreferrer" target="_blank"><i class="fab fa-youtube"></i></a>
            </li>
            <li class="social-instagram list-inline-item">
                <a aria-label="instagram link"
                   href="{% editable instagram %}https://www.instagram.com/officialdanc/{% endeditable %}" rel="noreferrer" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="social-facebook list-inline-item">
                <a aria-label="facebook link" href="{% editable facebook %}https://www.facebook.com/officialdanc/{% endeditable %}"
                   rel="noreferrer" target="_blank"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="social-spotify list-inline-item">
                <a aria-label="spotify link"
                   href="{% editable spotify %}https://open.spotify.com/artist/2zmKcDMX4EqLe1hgdZ9TdP?si=t_mWoEQcSJe59Vp74GLGOQ{% endeditable %}" rel="noreferrer" target="_blank"><i class="fab fa-spotify"></i></a>
            </li>
            <li class="social-soundcloud list-inline-item">
                <a href="{% editable soundcloud %}https://soundcloud.com/officialdanc{% endeditable %}" rel="noreferrer"
                   target="_blank"><i aria-label="soundcloud link" class="fab fa-soundcloud"></i></a>
            </li>
            <li class="social-email list-inline-item">
                <a aria-label="email link" href="mailto:{% editable email %}officialdancmusic@gmail.com.{% endeditable %}"
                   rel="noreferrer" target="_blank"><i class="fa fa-envelope"></i></a>
            </li>
        </ul>
        <p style="color:white">Officialdanc&copy; | <a href="{{ url_for('main.privacy', _method='GET')}}"
                                                       style="text-decoration:none; color:white">Cookie Policy</a></p>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}