{% block footer %}<!-- Subscribe -->
    <footer class=" container-fluid" id="subscribe">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <ul class="list-inline list-social">
                <li class="social-youtube list-inline-item">
                    <a href="{% editable youtube %} https://www.youtube.com/channel/UCO0YNj-Vj_uVmB5KY5mXxmg/featured {% endeditable %}" target="_blank" aria-label="youtube link" rel="noreferrer"><i class="fab fa-youtube"></i></a>
                </li>
                <li class="social-instagram list-inline-item">
                    <a href="{% editable instagram %}https://www.instagram.com/officialdanc/{% endeditable %}" target="_blank" aria-label="instagram link" rel="noreferrer"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="social-facebook list-inline-item">
                    <a href="{% editable facebook %}https://www.facebook.com/officialdanc/{% endeditable %}" target="_blank" aria-label="facebook link" rel="noreferrer"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="social-spotify list-inline-item">
                    <a href="{% editable spotify %}https://open.spotify.com/artist/2zmKcDMX4EqLe1hgdZ9TdP?si=t_mWoEQcSJe59Vp74GLGOQ{% endeditable %}" target="_blank" aria-label="spotify link" rel="noreferrer"><i class="fab fa-spotify"></i></a>
                </li>
                <li class="social-soundcloud list-inline-item">
                    <a href="{% editable soundcloud %}https://soundcloud.com/officialdanc{% endeditable %}" target="_blank" rel="noreferrer"><i class="fab fa-soundcloud" aria-label="soundcloud link" ></i></a>
                </li>
                <li class="social-email list-inline-item">
                    <a href="mailto:{% editable email %}officialdancmusic@gmail.com.{% endeditable %}" target="_blank" aria-label="email link" rel="noreferrer"><i class="fa fa-envelope"></i></a>
                </li>
            </ul>
            © 2020 Copyright:Officialdanc
        </div>
        <!-- Copyright -->
    </footer>
{% endblock %}