{% block navbar %}
<nav class="site-header fixed-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 navbar-link" href="#tourposter" aria-label="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="white"
                 class="d-block mx-auto" role="img"
                 viewBox="0 0 56 24" focusable="false"><title>DANC</title>
                <text fill="white">DANC</text>
            </svg>
        </a>
        <a class="py-2 d-none d-md-inline-block navbar-link " href="#events">Events</a>
        <a class="py-2 d-none d-md-inline-block navbar-link" href="#bio">About</a>
        <a class="py-2 d-none d-md-inline-block navbar-link" href="#music">Music</a>
        <a class="py-2 d-none d-md-inline-block navbar-link" href="#subscribe">Subscribe</a>
        <a class="py-2 d-none d-md-inline-block">
            <div id="spotify_frame">
                <iframe
                        src="https://open.spotify.com/follow/1/?uri=spotify:artist:2zmKcDMX4EqLe1hgdZ9TdP&size=detail&theme=dark&show-count=0"
                        height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;"
                        allowtransparency="true"></iframe>
            </div>
        </a>
    </div>
</nav>
{% endblock %}