{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" >
        <div class="col-6" style="text-align:center; background-color:white;
         min-height: 50vh;
    margin-top: 10vh; border-radius:21px;">
           <h1 style="font-size:10em;"><u>Oops!</u></h1>
            <h1>The page you are looking for can't be found!</h1>
            <br/>
            <a href="/" class="btn btn-dark">Homepage!</a>
        </div>
    </div>


</div>
{% endblock %}