{% extends "base/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6" style="text-align:center; background-color:white;
         min-height: 50vh;
    margin-top: 10vh; border-radius:21px;">
            <h1 style="font-size:10em;"><u>Oops!</u></h1>
            <h1>There has been a error on the page!</h1>
            <br/>
            <a class="btn btn-dark" href="/">Homepage!</a>
        </div>
    </div>
</div>
{% endblock %}