<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DANC admin</title>

    {% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/login.css') }}">
    {% endblock %}

</head>
<body>

<div class="content" style="max-height:90%;">
    <!--Content-->
    {% block content %}{% endblock %}
</div>

</body>
{% block end_js %}
<script src="{{ url_for('static', filename='js/popper.js' )}}"></script>
<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js' )}}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!--&lt;!&ndash; Theme JavaScript &ndash;&gt;-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
{% endblock %}
</html>